.card-button {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 3px;
  padding: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: start;
  display: block;

}

.card-button:hover {
  background: rgba(255, 255, 255, 0.10);
}