.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  width: 400px;
}

.invalid {
  border: 1px solid red;
  background: rgb(116, 56, 56);
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.10);
  color: #fff;
}